.oltni { 
  border-left-width: 55px;
  font-size: 38px;
  line-height: 22px;
  padding-left: 10px;
  border-top-width: 93px;
  border-right-width: 99px;
  padding-bottom: 76px;
  line-height: 85px;
  padding-bottom: 64px;
  padding-left: 13px;
}
