.oltni { 
  border-left-width: 55px;
  font-size: 38px;
  line-height: 22px;
  padding-left: 10px;
  border-top-width: 93px;
  border-right-width: 99px;
  padding-bottom: 76px;
  line-height: 85px;
  padding-bottom: 64px;
  padding-left: 13px;
  font-size: 63px;
  padding-right: 55px;
  border-right-width: 7px;
  margin-top: 43px;
  margin-bottom: 39px;
  font-size: 65px;
  border-left-width: 84px;
  margin-top: 67px;
  border-top-width: 40px;
  margin-top: 86px;
}
